### 2021 Municipal Primary VBM - MASTER RESET NOTEBOOK
---

In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

import numpy as np

import datetime

---
#### CAUTION! Only run this notebook if you need to reset running totals!!!
---
**NOTE:** As an extra security measure, you will also need to uncomment the final cell of this notebook in order for the file to save.

In [22]:
# Read in total requested ballots by precinct for comparison
mailed_df = pd.read_csv('../data/processed/2021_VBM_mailed_ballots_master.csv')

In [23]:
mailed_df = mailed_df[['Precinct', 'Total People']]
mailed_df = mailed_df.rename({'Total People': 'Total Requested Ballots'}, axis=1)

In [24]:
mailed_df.head(3)

   Precinct  Total Requested Ballots
0       101                     2006
1       102                      965
2       103                      485

In [25]:
precinct_df.head(3)

   Precinct  VBM Ballots Returned Today
0       103                           1
1       105                           2
2       108                           1

In [26]:
print(len(mailed_df))
print(len(precinct_df))

91
31

In [27]:
comp_df = mailed_df.copy()
comp_df = comp_df.merge(precinct_df, how='left', left_on='Precinct', right_on='Precinct')

In [28]:
# Fill nulls in 'VBM Ballots Returned Today' with a value of 0
comp_df['VBM Ballots Returned Today'].fillna(0, inplace=True)

In [29]:
comp_df.isnull().sum()

Precinct                      0
Total Requested Ballots       0
VBM Ballots Returned Today    0
dtype: int64

In [30]:
# Cast as integer
comp_df['VBM Ballots Returned Today'] = comp_df['VBM Ballots Returned Today'].astype(int)

In [31]:
# Create a column for total ballots returned
comp_df['Total Returned Ballots'] = 0

In [32]:
comp_df = comp_df[['Precinct', 'VBM Ballots Returned Today', 'Total Returned Ballots', 'Total Requested Ballots']]

In [33]:
comp_df.head(3)

,Precinct,VBM Ballots Returned Today,Total Returned Ballots,Total Requested Ballots
0,101,0,0,2006
1,102,0,0,965
2,103,1,0,485

In [34]:
# comp_df.to_csv('../data/processed/VBM_returned_master.csv', index=False)

---
---